#wrapper{min-width:640px;
     
       }  
 body{position: relative;
    height:100% ;
    max-width: 100%;
    padding:0;
    margin: 0;
    background:#9CD4E5;
}

.logo{position: relative;
    max-width: 100%;
    margin: 0px 0px 0px 80px;  
}


.log{border-radius: 5px;
height:05%;
width:50%;
background-color:#0BA1F4;
margin: auto;
max-width:100%;
}
