.tmp
.sass-cache
*.keystore
*.sw*

*.c
*.h
*.xib

platforms/android/*
!platforms/android/res
platforms/android/res/*
!platforms/android/res/drawable

platforms/ios/*
!platforms/ios/VMA
platforms/ios/VMA/*
!platforms/ios/VMA/Resources
platforms/ios/VMA/Resources/*
!platforms/ios/VMA/Resources/splash
!platforms/ios/VMA/Resources/icons

www/vendor
www/bower_components
node_modules

.idea/*.*
.idea/*