.tmp
.sass-cache
*.keystore
*.sw*

*.c
*.h
*.xib

platforms/android/*
!platforms/android/res/drawable

platforms/ios/www
platforms/ios/platform_www
platforms/ios/cordova
platforms/ios/CordovaLib
platforms/ios/build

www/vendor
www/bower_components
node_modules

.idea/*.*
.idea/*