<!--
<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
-->
    <form class="list" ng-submit="ok()">
        <input class="item item-input" type="text" ng-model="$parent.newGroup.name" placeholder="Name" required/>
        <input class="item item-input" type="text" ng-model="$parent.newGroup.description" placeholder="Description"/>
        <input class="item item-input" type="submit"/>
    </form>
<!--
    </ion-content>
</ion-modal-view>-->
