<div style="margin: 10px">
    <form>
        <input id="name" type="text" name="name" ng-model="$parent.name" placeholder="Task Name"/>
        <br/>
<!--
        <input id="time" type="text" ng-modal="time" placeholder="Time"/>
        <br/>
-->
        <input id="duration" type="text" ng-model="$parent.duration" placeholder="Duration"/>
        <br/>
<!--
        <input id="location" type="text" name="location" placeholder="Location"/>
        <br/>
-->
        <input type="text"/>
        <input type="submit" ng-click="ok()" name="id" placeholder="Name"/>
    </form>
    
<!--    <p>{{name}}</p>-->
</div>