<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Add Task</h1>
        <button class="button button-clear button-primary" ng-click="modalAdd.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
    <div class="list">
        <label class="item item-input">
            <input id="name" type="text" ng-model="$parent.newTask.name" placeholder="Name" required/>
        </label>
        <label class="item item-input" ng-click="openDatePicker()">
                <input type="text" ng-model="$parent.newTask.time" placeholder="Select Date & Time">
        </label>
        <label class="item item-input">
            <input id="duration" type="number" ng-model="$parent.newTask.duration" step="any" placeholder="Duration"/>
        </label>
        <label class="item item-input">
            <input id="description" type="text" ng-model="$parent.newTask.description" placeholder="Description"/>
        </label>
        <label class="item item-input">
            <input id="location" type="text" ng-model="$parent.newTask.location" placeholder="Location"/>
        </label>
        <button class="button button-full button-dark" ng-click="ok()">Submit</button>
    </div>
    </ion-content>
</ion-modal-view>

<!--

<div class="modal_a" stop-event="touchend">
    <form ng-submit="ok()">
        <input id="name" type="text" ng-model="$parent.newTask.name" placeholder="Name" required/>
        <br/>
        <div ng-show="showTime">
            <input style="width: 50%; display: inline-block;" type="text" size="10" ng-model="$parent.mytime" data-autoclose="1" placeholder="Date" bs-datepicker>
            <input style="width: 50%; display: inline-block;" type="text" size="8" ng-model="$parent.mytime" data-autoclose="1" placeholder="Time" bs-timepicker>
        </div>
        <button type="button" ng-click="clear()">Toggle Time</button>
        <br/>
        <input id="duration" type="number" ng-model="$parent.newTask.duration" step="any" placeholder="Duration"/>
        <br/>
        <input id="description" type="text" ng-model="$parent.newTask.description" placeholder="Description"/>
        <br/>
        <input id="location" type="text" ng-model="$parent.newTask.location" placeholder="Location"/>
        <br/>
        <center>
            <input type="submit"/>
            <input type="submit" ng-click="cancel()" value="Cancel"/>
        </center>
    </form>
</div>-->
