<ion-view title="Engagement Breakdown">
<ion-content>
    <highchart config="chartConfig"></highchart>

    <div class="item"> <b>Total Hours: {{total_hours}} </b></div>
    <div class="item"> <b>{{badges[0][0]}}</b>: {{badge1_percent}} % <span class="item-note">{{badges[0][1]}} Hours</span></div>
    <div class="item"> <b>{{badges[1][0]}}</b>: {{badge2_percent}} % <span class="item-note">{{badges[1][1]}} Hours</span></div>
    <div class="item"> <b>{{badges[2][0]}}</b>: {{badge3_percent}} % <span class="item-note">{{badges[2][1]}} Hours</span></div>
    <div class="item"> <b>{{badges[3][0]}}</b>: {{badge4_percent}} % <span class="item-note">{{badges[3][1]}} Hours</span></div>
    <div class="item"> <b>{{badges[4][0]}}</b>: {{badge5_percent}} % <span class="item-note">{{badges[4][1]}} Hours</span></div>
</ion-content>
</ion-view>