<link rel="stylesheet" href="../css/bottomMenu.css">

<div>
    <div id="b_menu">
        <span class="b_menu"> <a ui-sref="awards"> <img id="menub" src="img/fade_award.icon.png" height="40px" width="50px"> </a> </span>

        <span class="b_menu"> <a ui-sref="settings"> <img id="menub" src="img/fade_setting.icon.png" height="40px" width="50px"> </a> </span>

        <span class="b_menu"> <a ui-sref="calendar"> <img id="menub" src="img/fade_calender.icon.png" height="40px" width="50px"> </a> </span>

        <span class="b_menu"> <a ui-sref="hours"> <img id="menub" src="img/fade_clock.icon.png" height="40px" width="50px"> </a> </span>
    </div>
</div>