<headroom tolerance='0' offset='0' classes="{pinned:'footer--pinned',unpinned:'footer--unpinned',initial:'footer'}">
    
<!--    <span class="b_menu"> <a ui-sref="home.hours"> <img id="menub" src="img/fade_clock.icon.png" height="30px" width="30px"> </a> </span>-->
<!--        <div class="b_menu" class="btn-group" dropdown>-->
<!--            <button type="button" class="btn dropdown-toggle">-->
                <span class="b_menu"> <a ui-sref="home.hours"> <img id="menub" src="img/fade_clock.icon.png" height="30px" width="30px"> </a> </span>
<!--            </button>-->
<!--
            <ul class="dropdown-menu-bottom" role="menu">
                <li><a ng-click="editTask(task.id)">Edit</a></li>
                <li><a ng-click="leaveTask(task.id)">Leave</a></li>
                <li><a ng-click="deleteTask(task.id)">Delete</a></li>
            </ul>
        </div>
-->
    
    
    <span class="b_menu"> <a ui-sref="home.awards"> <img id="menub" src="img/fade_award.icon.png" height="30px" width="30px"> </a> </span>
    <span class="b_menu"> <a ui-sref="home.calendar"> <img id="menub" src="img/fade_calender.icon.png" height="30px" width="30px"> </a> </span>
    <span class="b_menu"> <a ui-sref="home.settings"> <img id="menub" src="img/fade_setting.icon.png" height="30px" width="30px"> </a> </span>
</headroom>