<div id="bottomMenu">
<div ng-controller="menuCtrl">
    <!--<a class="nav-header" ng-click="goBack()">< Back</a>-->

<link rel="stylesheet" href="../css/bottomMenu.css">
</div>

<div id="wrapper">
<div id="b_menu">
    <span class="b_menu"> <img src="img/fade_award.icon.png"></span>
      
      <span class="b_menu"> <img src="img/fade_setting.icon.png">
    </span>
          
      <span class="b_menu"> <img src="img/fade_calender.icon.png"></span>
    
      <span class="b_menu"> <img src="img/fade_clock.icon.png"></span>
</div>
    </div>