<div class="container-fluid">
    <title>COMMUNITY FEED</title>
      <link rel="stylesheet" href="../css/communityFeed.css">
   

        
        <!--profil icon
<div id="avatar">
        <div class="avatar"><img class="avatar" src="img/avatar.icon.png"></div>
    <!--this img is a place holder
        <div class="place_img"><img class="place" src="img/image13.png"></div>-->
</div>

<div id="wrapper">
<div id="avatar">
    <span class="communityFeed"> <img src="img/avatar.icon.png"></span>
      
<div id="place">     
    <span class="communityFeed"> <img src="img/image13.png">
    </span>
          
</div>
    </div>