<link rel="stylesheet" href="../css/communityFeed.css">

<div id="wrapper">
    <div id="avatar">
        <span class="communityFeed"> <img src="img/avatar.icon.png"></span>
        <div id="place">     
            <span class="communityFeed"> <img src="img/image13.png">
            </span>
        </div>
    </div>
    <div id="scrollablePosts">
        <div id="post">
            <div class="asdfaoisd"> IMG ICON </div>
            <div class="asdfaoisd"> TEXT MESSAGE + CONTENT </div>
            <div class="asdfaoisd"> INFO ABOUT CONTENT </div>
        </div>
        <div id="post">
            <div> IMG ICON </div>
            <div> TEXT MESSAGE + CONTENT </div>
            <div> INFO ABOUT CONTENT </div>
        </div>
        <div id="post">
            <div> IMG ICON </div>
            <div> TEXT MESSAGE + CONTENT </div>
            <div> INFO ABOUT CONTENT </div>
        </div>
        <div id="post">
            <div> IMG ICON </div>
            <div> TEXT MESSAGE + CONTENT </div>
            <div> INFO ABOUT CONTENT </div>
        </div>
        <div id="post">
            <div> IMG ICON </div>
            <div> TEXT MESSAGE + CONTENT </div>
            <div> INFO ABOUT CONTENT </div>
        </div>
        <div id="post">
            <div> IMG ICON </div>
            <div> TEXT MESSAGE + CONTENT </div>
            <div> INFO ABOUT CONTENT </div>
        </div>
    </div>
</div>