<div style="margin: 10px">
    <form>
        <input id="name" type="text" ng-model="$parent.editTask.name" placeholder="Name"/>
        <br/>
        <input id="time" type="text" ng-model="$parent.editTask.time" placeholder="Time"/>
        TYPING IN TIME FIELD WILL BREAK THINGS DON'T DO IT (for now)
        <br/>
        <input id="time" type="number" ng-model="$parent.editTask.duration" placeholder="Duration"/>
        <br/>
        <input id="description" type="text" ng-model="$parent.editTask.description" placeholder="Description"/>
        <br/>
        <input id="location" type="text" ng-model="$parent.editTask.location" placeholder="Location"/>
        <br/>
        <input type="submit" ng-click="ok()" placeholder="Name"/>
    </form>
</div>