<ion-view title="{{group.name}}" ng-controller="taskController">
    <div> {{group.name}} </div>
    <div> {{group.description}} </div>
    <button ng-hide="group.joined" class="btn btn-default" ng-click="joinGroup(group.id)">Join Group</button>
    <button ng-show="group.joined" class="btn btn-default" ng-click="leaveGroup(group.id)">Already Joined</button>
    <div ng-repeat="task in tasks">
        <div> <a ng-click="viewTask(task.id)">{{task.name}}</a> </div>
        <button ng-hide="task.joined" class="btn btn-default" ng-click="joinTask(task.id)">Join Task</button>
        <button ng-show="task.joined" class="btn btn-default" ng-click="leaveTask(task.id)">Already Joined</button>
    </div>
</ion-view>