<div id="wrapper">
    <div>
        <div id="groups">
            <div>AVATAR</div>
            <div>CONTENT</div>
        </div>
        <div id="groups">
            <div>AVATAR</div>
            <div>CONTENT</div>
        </div>
        <div id="groups">
            <div>AVATAR</div>
            <div>CONTENT</div>
        </div>
    </div>
    <div>
        <div id="scrollableInvites">
            <div id="invite">
                <div> IMG ICON </div>
                <div> TITLE </div>
                <div> TIME </div>
                <div> APPROVAL </div>
            </div>
            <div id="invite">
                <div> IMG ICON </div>
                <div> TITLE </div>
                <div> TIME </div>
                <div> APPROVAL </div>
            </div>
            <div id="invite">
                <div> IMG ICON </div>
                <div> TITLE </div>
                <div> TIME </div>
                <div> APPROVAL </div>
            </div>
            <div id="invite">
                <div> IMG ICON </div>
                <div> TITLE </div>
                <div> TIME </div>
                <div> APPROVAL </div>
            </div>
        </div>
    </div>
</div>