<ion-view title="Find Groups">
<ion-header-bar align-title="left" class="bar-dark bar-subheader">
    <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input ng-model="query" type="search" placeholder="   Search">
    </label>
</ion-header-bar>
<ion-content>
<ion-list class="list">
    <div class="item" ng-show="groups.length == 0 || groups === undefined">
        <center>
            No groups in organization... <br/>
            Create a group?
        </center>
    </div>
    <div  ng-repeat="group in groups | filter:{name: query} | orderBy:orderProp" class="item item-button-right">
        <h2 ui-sref="home.group({id:group.id})"> {{group.name}} </h2>
        <button class="button button-dark" ng-click="joinGroup(group.id)"> Join </button>
    </div>
</ion-list>
</ion-content>
</ion-view>
