<snap-drawer>
    <button class="btn btn-default" ng-click="addGroup()">Add Group</button>
    <div id="groups" ng-repeat="group in groups">
        <a ng-click="displayPosts(group.id)">
            <!--Known issue WorkAround: https://github.com/angular/angular.js/issues/6001-->
            <!--<a ui-sref="groupFeed.post({id:{{group.id}}})" ng-click="isCollapsed = !isCollapsed">-->
            <div>Group Icon: <img ng-src="{{group.icon}}" width="20" height="20"/></div>
            <div>Group: {{group.group_name}} </div>
        </a>
    </div>
</snap-drawer>
<snap-content style="background-color: pink">
    <tabset>
        <tab heading="Posts" active="pActiv">
            <div ui-view="post">Click on a Effort Above to View Posts Here</div>
        </tab>
        <tab heading="Tasks" active="tActiv">
            <div ui-view>Tasks from group will be shown here</div>
        </tab>
    </tabset>
</snap-content>