<ion-view title="Tasks">
<ion-content>
<ion-nav-buttons side='right'>
    <button class="button button-dark" ng-click="addTask()"> <i class="icon ion-plus-round"> </i> </button>
</ion-nav-buttons>
<div class="list">
    <div class="item item-avatar item-button-right" ng-repeat="task in tasks">
        <img src="img/avatar.icon.png" width="60" height="50"/>
        <h2 ng-click="viewTask(task.id)"> {{task.name}} </h2>
        <button class="button button-dark" ng-click="showActions(task.id)"> <i class="icon ion-ios7-more"></i> </button>
        <!--
            <div id="t" ng-show="task.datetime"> {{task.datetime}} </div>
            <div id="t" ng-show="task.location"> {{task.location}} </div>
            <div id="t" ng-show="task.duration"> {{task.duration}} Hours </div>
        -->
        <!--
                <div id="bs" class="btn-group" dropdown>
                    <button type="button" class="btn dropdown-toggle">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-show="task.isManager || task.isMember" ng-click="leaveTask(task.id)">Leave</a></li>
                        <li><a ng-show="task.isTask" ng-click="joinTask(task.id)">Attend</a></li>

                        <li><a ng-show="task.isManager || task.isGroupManager" ng-click="editTask(task.id)">Edit</a></li>
                        <li><a ng-show="task.isManager || task.isGroupManager" ng-click="deleteTask(task.id)">Delete</a></li>
                    </ul>
                </div>
        -->
    </div>
</div>
</ion-content>
</ion-view>