<ion-view title="Message">
    <div id="scrollable_m">
        <div id="message_i" ng-repeat="groupMSG in groupMSGs">
            <div id="message_icc"><img ng-src="{{groupMSG.img}}" width="40" height="40"/></div>
            <button class="btn_name" id="message_ia" data-placement="right-center" title="<div>{{groupMSG.user.username}}</div>" data-content="<div>{{groupMSG.user.username}}'s Badges Coming Soon!</div>" data-trigger="focus" bs-popover> {{groupMSG.user.username}} </button>
            <div id="message_ic"> {{groupMSG.time}}</div>
            <div id="message_ic"> {{groupMSG.content}}</div>
            <div ng-show="groupMSG.sender_id == uid" id="bs" class="btn-group" dropdown>
                <button type="button" class="btn dropdown-toggle">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="editMessage(groupMSG.id)">Edit</a></li>
                    <li><a ng-click="deleteMessage(groupMSG.id)">Delete</a></li>
                </ul>
            </div>
        </div>
        <div id="messaging_input">
            <form ng-submit="addMsg()">
                <input id="message_input_input" type="text" ng-model="msg.message" ng-focus="scrollTo()">
                <input id="message_input_submit" type="submit">
            </form>
        </div>
    </div>
    <div id="messaging_input_scrollto"></div>
</ion-view>