<div id="scrollable_g">
    <button ng-show="{{detail}}" class="btn_add" ng-click="addPost()">Add Post</button>
    <div id="groupPost" ng-repeat="post in posts">
        <div ng-click="viewPost(post.id)">
            <div><img src="img/group_feed.icon.png" width="65" height="60"/></div>
            <div id="groupPost_content">
                <!--<div id="groupfeed_img">Post IMG: <img ng-src="{{post.img}}" width="20" height="20"/></div>-->
                <div id="groupfeed_a"> {{post.user.username}} </div>
                <div id="groupfeed_c"> {{post.content}} </div>
    <!--            <div id="groupfeed_l"> Likes {{post.likes}} </div>-->
                <div id="groupfeed_t"> {{post.time}} </div>
                <div id="groupfeed_cc"> Comments {{post.comment_count}} </div>
            </div>
            <div ng-show="{{detail}}" ng-show="post.user_id == uid" id="bs" class="btn-group" dropdown>
                <button type="button" class="btn dropdown-toggle">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="editPost(post.id)">Edit</a></li>
                    <li><a ng-click="deletePost(post.id)">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--<center> <button ng-click="loadMore()"> LOAD MORE </button> </center>-->
