<ion-view title="Group Feed">
<ion-content>
    <div ng-hide="state.includes('home.groupFeed.detail')">
        <div class="list card" ng-repeat="post in posts">
            <div ui-sref="home.group({id:{{post.id}}})" class="item item-avatar">
                <img src="img/effort_task.icon.png" width="15%" />
                <h2>{{post.user.username}} > {{post.group.name}}</h2>
                <p>{{post.time}}</p>
            </div>
            <div class="item item-body">
                <p>{{post.content}}</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="viewPost(post.id)">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" ui-sref="home.group({id:{{post.group_id}}})">
                    <i class="icon ion-share"></i>
                    {{post.group.name}}
                </a>
                <a class="tab-item" ng-click="showActions(post.id)" ng-show="actionCount(post.id)">
                    <i class="icon ion-ios7-more"></i>
                </a>
            </div>
        </div>
        <center> <button ng-click="loadMore()"> LOAD MORE </button> </center>
    </div>
</ion-content>
</ion-view>