<!--<p>For testing purposes: {{id}}</p>-->
<!--<div id="scrollArea" ng-controller="ScrollController">-->
  <a ng-click="noHash()">Go to bottom</a>
<!--</div>-->
<div id="message_i" ng-repeat="groupMSG in groupMSGs">
        <div id="message_icc"><img ng-src="{{groupMSG.img}}" width="40" height="40"/></div>
        <div id="message_ia"> {{groupMSG.author}} </div>
        <div id="message_ic"> {{groupMSG.content}}</div>
<!--        <div id="message_it"> {{groupMSG.time}}</div>-->
</div>

<div id="bottom">
<form id="bottom">
    <input type="text" ng-model="msg.message">
    <input type="submit" ng-click="addMsg()" name="id" placeholder="Name"/>
</form>
<br/>
</div>