<div id="scrollable_g">
    <button ng-show="{{detail}}" class="btn btn-default" ng-click="addTask()">Add Task</button>    
    <div id="groupPost" ng-repeat="task in metaTasks">
        <div ng-click="viewTask(task.id)">
            <div><img src="img/avatar.icon.png" width="60" height="50"/></div>
            <div id="t_t"> {{task.name}} </div>
            <div id="t" ng-show="task.datetime"> {{task.datetime}} </div>
            <div id="t" ng-show="task.location"> {{task.location}} </div>
            <div id="t" ng-show="task.duration"> {{task.duration}} Hours </div>
        </div>
        <div id="bs" class="btn-group" dropdown>
            <button type="button" class="btn dropdown-toggle">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-show="task.isManager || task.isGroupManager" ng-click="editTask(task.id)">Edit</a></li>
                <li><a ng-show="task.isManager || task.isMember" ng-click="leaveTask(task.id)">Leave</a></li>
                <li><a ng-show="task.isManager || task.isGroupManager" ng-click="deleteTask(task.id)">Delete</a></li>

                <li><a ng-show="task.isTask" ng-click="joinTask(task.id)">Join</a></li>
            </ul>
        </div>
    </div>
</div>