<!--CHANGE THE CLASSES-->
<div id="wrapper">
    <div id="scrollablePosts">
        <div id="post">
            <div class="asdfaoisd"> IMG ICON </div>
            <div class="asdfaoisd"> TEXT MESSAGE + CONTENT </div>
            <div class="asdfaoisd"> INFO ABOUT CONTENT </div>
        </div>
        <div id="post">
            <div> IMG ICON </div>
            <div> TEXT MESSAGE + CONTENT </div>
            <div> INFO ABOUT CONTENT </div>
        </div>
        <div id="post">
            <div> IMG ICON </div>
            <div> TEXT MESSAGE + CONTENT </div>
            <div> INFO ABOUT CONTENT </div>
        </div>
        <div id="post">
            <div> IMG ICON </div>
            <div> TEXT MESSAGE + CONTENT </div>
            <div> INFO ABOUT CONTENT </div>
        </div>
        <div id="post">
            <div> IMG ICON </div>
            <div> TEXT MESSAGE + CONTENT </div>
            <div> INFO ABOUT CONTENT </div>
        </div>
        <div id="post">
            <div> IMG ICON </div>
            <div> TEXT MESSAGE + CONTENT </div>
            <div> INFO ABOUT CONTENT </div>
        </div>
    </div>
</div>