<tabset>
    <tab heading="Submit" style="width:50%; text-align: center;">
        <div id="submit_hours">
            <button ng-click="checkIn()" type="button">Check in!</button>
            <button ng-click="checkOut()" type="button">Check out!</button>
            <p ng-show="checkInTimeDisplay"> Checked in at: {{checkInTimeDisplay}}</p>
<!--            <p ng-show="checkOutTimeDisplay"> Checked out at: {{checkOutTimeDisplay}}</p>-->
            <form ng-submit="ok()">
<!--                <input id="name" type="text" name="name" ng-model="$parent.entry.name" placeholder="Task Name" required/>-->
                <label class="control-label"><i class="fa fa-calendar"></i>Task Name</label><br>
                <select ng-model="$parent.entry.name">
                    <option ng-repeat="task in joinTasks">{{task.name}}</option>
                </select>
                <br/>
                <label class="control-label"><i class="fa fa-calendar"></i> Start Time</label><br>
                <div style="display: inline-block;">
                    <input style="width: 50%; display: inline-block;" type="text" size="10" ng-model="$parent.entry.inTime" data-autoclose="1" placeholder="Date" bs-datepicker>
                    <input style="width: 50%; display: inline-block;" type="text" size="8" ng-model="$parent.entry.inTime" data-autoclose="1" placeholder="Time" bs-timepicker>
                </div>
                <br/>
                <input id="duration" type="number" step="any" ng-model="$parent.entry.duration" placeholder="Duration (Minutes)"/>
                <br/>
                <input type="submit"/>
            </form>
        </div>
    </tab>
    <tab heading="Record" style="width:50%; text-align: center;">
        <div id="entry" ng-repeat="entry in entries">
            <a href=""> <!-- Link this to modal window from in depth -->
                <div> {{entry.title}} </div>
                <div ng-show={{entry.duration}}> {{entry.duration}} Minutes </div>
                <div id="approve" ng-show={{entry.approved}}><img src="img/check.png" width="80%" height="80%"></div>
                <div  id="pend" ng-show=!{{entry.approved}}>Pending...</div>
            </a>
        </div>
    </tab>
</tabset>