<tabset>
    <tab heading="Record" style="width:50%">
        <div id="entry" ng-repeat="entry in entries">
            <a href=""> <!-- Link this to modal window from in depth -->
                <div> {{entry.title}} </div>
                <div ng-show={{entry.duration}}> {{entry.duration}} Minutes </div>
                <div ng-show={{entry.approved}}>Approved</div>
                <div ng-show=!{{entry.approved}}>Pending</div>
            </a>
        </div>
    </tab>
    <tab heading="Submit" style="width:50%">
        <div style="margin: 10px">
            <button ng-click="checkIn()" type="button">Check in!</button>
            <button ng-click="checkOut()" type="button">Check out!</button>
            <p ng-show="checkInTimeDisplay"> Checked in at: {{checkInTimeDisplay}}</p>
            <p ng-show="checkOutTimeDisplay"> Checked out at: {{checkOutTimeDisplay}}</p>
            <form ng-submit="ok()">
                <input id="name" type="text" name="name" ng-model="$parent.entry.name" placeholder="Task Name" required/>
                <br/>
                <input id="duration" type="number" step="any" ng-model="$parent.entry.duration" placeholder="Duration (Minutes)"/>
                <br/>
                <input type="submit"/>
            </form>
        </div>
    </tab>
</tabset>