<ion-view title="Entered Hours">
    <div class="list">
        <div class="item" ng-repeat="entry in entries">
            <h2> {{entry.title}} </h2>
            <p ng-show={{entry.duration}}> {{entry.duration}} Minutes </p>
            <p id="approve" ng-show={{entry.approved}}><img src="img/check.png" width="80%" height="80%"></p>
            <p id="pend" ng-show=!{{entry.approved}}>Pending...</p>
        </div>
    </div>
</ion-view>
<!--
<div id="bs_hour" class="btn-group" dropdown>
    <button type="button" class="btn dropdown-toggle">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a ng-show="!{{entry.approved}}" ng-click="delete(entry.id)">Delete</a></li>
    </ul>
</div>
-->