<ion-view title="Hours">
    <ion-nav-buttons side='right'>
        <button class="button button-dark" ui-sref="home.hours.myHours">
            <i class="icon ion-ios7-bookmarks"></i>
        </button>
    </ion-nav-buttons>
    <div class="row">
        <button ng-click="checkIn()" class="col button  button-dark">Check in!</button>
        <button ng-click="checkOut()" class="col button button-dark">Check out!</button>
    </div>
    <div class="list">
        <div class="item" ng-show="checkInTimeDisplay"> Checked in at: {{checkInTimeDisplay}}</div>
        <label class="item item-input item-select">
            <div class="input-label"> Task Name </div>
            <select ng-model="$parent.entry.name" required> 
                <option></option>
                <option ng-repeat="task in joinTasks">{{task.name}}</option>
            </select>
        </label>
        <label class="item item-input" ng-click="openDatePicker()">
                <span class="input-label">Start Time</span>
                <input type="text" ng-model="entry.inTime" placeholder="Select Date & Time">
        </label>
        <label class="item item-input">
            <span class="input-label">Duration</span>
            <input id="duration" type="number" step="any" ng-model="entry.duration" required/>
        </label>
        <button ng-click="ok()" class="button button-full button-dark">Submit</button>
    </div>
</ion-view>
