<ion-view title="Hours Moderation">
<ion-header-bar align-title="left" class="bar-dark bar-subheader">
    <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input ng-model="query" type="search" placeholder="Search entries">
    </label>
</ion-header-bar>
<ion-content>
<ion-nav-buttons side='right'>
    <button class="button button-dark" ng-click="switchAndUpdate();"><i class="icon ion-checkmark-round"></i></button>
    <!--<button class="button button-dark" ng-click="updatePosts()"><i class="icon ion-refresh"></i></button>-->
</ion-nav-buttons>

<div class="list">
    <!--<div class="item item-icon-right" id="entry" ng-repeat="entry in entries | filter:{user:{username: query}} | orderBy:orderProp">-->
    <div class="item item-icon-right" id="entry" ng-repeat="entry in entries | filter:query | orderBy:orderProp">
        <div> <b>User:</b> {{entry.user.username}} </div>
        <div> <b>Task:</b> {{entry.title}} </div>
        <div ng-show="entry.duration"> {{entry.duration}} Minutes </div>
        <!--<div id="approve" ng-show={{entry.approved}}><img src="img/check.png" width="80%" height="80%"></div>-->
        <!--<div id="pend" ng-show=!{{entry.approved}}>Pending...</div>-->
        <div class="icon">
            <button class="button" ng-click="approve(entry.id)"> <i class="icon ion-checkmark-circled"></i> </button>
            <button class="button" ng-click="deny(entry.id)"> <i class="icon ion-close-round"></i>  </button>
        </div>
    </div>
</div>
<!--<ion-infinite-scroll-->
    <!--ng-if="notReachedEnd"-->
    <!--icon="ion-loading-c"-->
    <!--on-infinite="loadMore()">-->
<!--</ion-infinite-scroll>-->
</ion-content>
</ion-view>
