<ion-view title="Volunteer Management App" hide-back-button="true">
<ion-nav-bar class="bar-dark"></ion-nav-bar>
<ion-content>
    <div class="list list-inset" id="vma_login_padding">
        <center><img src="img/logo_O2.png" class="item"></center>
        <form class="submit" ng-submit="submit()">
            <label class="item item-input">
                <input type="text" ng-model="$parent.userName" placeholder="USERNAME">
            </label>
            <label class="item item-input">
                <input type="password" ng-model="$parent.passWord" placeholder="PASSWORD">
            </label>
            <button type="submit" class="button button-block button-dark">Submit</button>
        </form>
    </div>
    <a class="button button-icon icon ion-asterisk" ui-sref="register">REGISTER HERE</a>
</ion-content>
</ion-view>
