<div id="bottomMenu">
<div ng-controller="menuCtrl">
    <!--<a class="nav-header" ng-click="goBack()">< Back</a>-->

<link rel="stylesheet" href="../css/login.css">
</div>        
   
  <img class="logo" src="img/login_logo.png"/>    
        <div id="wrapper">
                <div id="log-in">
                <div class="log">
                    <h1>Name</h1>
                </div>
            <div class="log">
                    <h1>Email</h1> 
            </div>
            <div class="log">
                    <h1>Password</h1>
            </div>
            <div class="log">
                    <h1>Confirm Password</h1> 
            </div>

<!--
<div class="container-fluid">
    <h1>Login</h1>-->
<!--<form class="submit" ng-submit="submit()">
        <input type="text" ng-model="userName" name="userName">
        <br>
        <input type="password" ng-model="passWord" name="passWord">
        <br>
        <input type="submit" value="Submit" id="submit">
    </form>
    </div><br>-->
<!--
    <p>{{loginMsg}}</p>
    <p>{{loginResult}}</p>
    <br>-->
<!--
<div id="background">
    <span class="background">
<img class="background_h" src="img/background_h.png">
        </span>
<img class="logo" src="img/login_logo.png">
        
</div>-->
<!--
<div style="position: relative; left: 0; top: 0;">
  <img class="background" src="img/background_h.png" style="position: absolute; top: 0; left:0;"/>  
</div>-->