<ul class="list">
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.cfeed">
            Home
        </a>
    </li>
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.myGroups">
            My Groups
        </a>
    </li>
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.myTasks">
            My Tasks
        </a>
    </li>
<!--
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.myInvites">
            WIP - My Invites
        </a>
    </li>
-->
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.hours">
            Hours
        </a>
    </li>
    <!--<li>-->
        <!--<a class="item" menu-close nav-clear ui-sref="home.awards">-->
            <!--WIP - Awards-->
        <!--</a>-->
    <!--</li>-->
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.calendar">
            Calendar
        </a>
    </li>
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.settings">
            Settings
        </a>
    </li>
</ul>