<ul class="list">
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.cfeed">Community Feed</a>
    </li>
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.groupMessages">Group Messages</a>
    </li>
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.myGroups">My Groups</a>
    </li>
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.groupFeed">Group Feed</a>
    </li>
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.efforts">Efforts</a>
    </li>
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.hours">Hours</a>
    </li>
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.awards">Awards</a>
    </li>
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.calendar">Calendar</a>
    </li>
    <li>
        <a class="item" menu-close nav-clear ui-sref="home.settings">Settings</a>
    </li>
</ul>

