<div id="menuBar">
<div ng-controller="menuCtrl">
    <!--<a class="nav-header" ng-click="goBack()">< Back</a>-->
</div>
</div>

<div>
<link rel="stylesheet" href="../css/menuBar.css">
</div>

<div id="wrapper">
<div id="menuBar">
    <span class="menuBar"> <img src="img/menu_a_off.icon.png"></span>
      
      <span class="menuBar"> <img src="img/menu_gm_off.icon.png">
    </span>
          
      <span class="menuBar"> <img src="img/menu_gf_off.icon.png"></span>
    
      <span class="menuBar"> <img src="img/menu_e_off.icon.png"></span>
</div>
    </div>