<ion-view title="My Groups">
<ion-content>
<ion-nav-buttons side='right'>
    <button class="button button-dark" ng-click="addGroup()"> <i class="icon ion-plus-round"> </i> </button>
    <!--<button class="button button-dark" ng-click="updatePosts()"><i class="icon ion-refresh"></i></button>-->
</ion-nav-buttons>
<ion-nav-buttons side='right'>
    <button class="button button-dark" ui-sref="secure.joinGroups"> <i class="icon ion-search"> </i> </button>
</ion-nav-buttons>
<div class="item" ng-show="groups.length == 0 || groups === undefined">
    <center>
        You don't seem to have joined any groups! <br/>
        Join groups to view them here.
    </center>
</div>
<div class="list card" ng-repeat="group in groups">
    <div class="item item-avatar" ng-click="viewGroup(group.id)">
        <img id="groupfeed" src="img/group_feed.icon.png"/>
        <h2> {{group.name}} </h2>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ui-sref="secure.group.posts({id: group.id})">
            <i class="icon ion-chatbox"></i>
            View Posts
        </a>
        <a class="tab-item" ui-sref="secure.group.tasks({id: group.id})">
            <i class="icon ion-ios7-people"></i>
            View Tasks
        </a>
        <a class="tab-item" ng-click="showActions(group.id, $event)" ng-show="actionCount(group.id)">
            <i class="icon ion-ios7-more"></i>
        </a>
    </div>
</div>
</ion-content>
</ion-view>
