<ion-view title="My Tasks">
<div class="list" ng-repeat="task in joinTasks">
    <div class="item item-avatar" ng-click="viewTask(task.id)">
        <img src="img/effort_group.icon.png" width="70" height="50"/>
        <h2>{{task.name}}</h2>
    </div>
<!--
    <div id="bs" class="btn-group" dropdown>
        <button type="button" class="btn dropdown-toggle">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a ng-click="leaveTask(task.id)">Leave</a></li>
        </ul>
    </div>
-->
</div>
</ion-view>