<ion-view title="Settings">
<ion-content>
    <div class="list">
        <div class="item">
            <b>Username:</b> {{uin}}
        </div>
        <!--<div class="item" ui-sref="home.userPicture">-->
            <!--Profile Picture-->
        <!--</div>-->
        <!--<div class="item" ng-click="changePassword()">-->
            <!--Change Password-->
        <!--</div>-->
        <div class="item" ng-click="logOutUser()">
            Log Out
        </div>
    </div>
</ion-content>
</ion-view>
