<ion-view title="Settings">
<ion-content>
    <div class="list">
        <div class="item">
            {{uin}}
        </div>
        <div class="item">
            Profile Picture
        </div>
        <!--<div class="item" ng-show="isAdm" ui-sref="home.users_mod">-->
            <!--Change Roles-->
        <!--</div>-->
        <div class="item" ng-click="changePassword()">
            Change Password
        </div>
        <div class="item" ng-click="logOutUser()">
            Log Out
        </div>
    </div>
</ion-content>
</ion-view>
