<ion-view title="{{post.group.name}}">
    <!--THE POST-->
<!--    <div class="list">-->
        <div class="item item-avatar">
            <div><img src="img/effort_task.icon.png" width="15%" /></div>
            <h2>{{post.user.username}}</h2>
            <p>{{post.date}}</p>
        </div>
        <div class="item item-body">
            <p>{{post.content}}</p>
        </div>
<!--    </div>-->
    <div class="item item-divider">
        Comments
    </div>
    <!--THE COMMENTS-->
    <div class="list">
        <div class="item item-icon-right" ng-repeat="comment in post.comments">
            <h2>{{comment.user.username}}</h2>
<!--            <p>{{comment.time}}</p>-->
            <p>{{comment.content}}</p>
            <a class="tab-item" ng-click="showActions(comment.id)">
                <i class="icon ion-ios7-more"></i>
            </a>
        </div>
    </div>
    <!--<center> <button ng-click="loadMore()"> LOAD MORE </button> </center>-->
    <!--
            <div ng-show="comment.user_id == uid" id="comment_bs" class="btn-group" dropdown>
                <button type="button" class="btn dropdown-toggle">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="editComment(comment.id)">Edit</a></li>
                    <li><a ng-click="deleteComment(comment.id)">Delete</a></li>
                </ul>
            </div>
            -->
    <!--COMMENT INPUT-->
    <div id="comment_input">
        <form ng-submit="addComment()">
            <input type="text" ng-model="comment.content">
            <input type="submit">
        </form>
    </div>
</ion-view>