<ion-view title="{{post.group.name}}">
<ion-content>
    <!--THE POST-->
<!--    <div class="list">-->
        <div class="item item-avatar">
            <div><img src="img/effort_task.icon.png" width="15%" /></div>
            <h2>{{post.user.username}}</h2>
            <p id="vma_date">{{post.date}}</p>
            <p id="vma_content">{{post.content}}</p>
        </div>
<!--        <div class="item item-body">-->
<!--            <p>{{post.content}}</p>-->
<!--        </div>-->
<!--    </div>-->
    <div class="item item-divider">
        Comments
    </div>
    <!--THE COMMENTS-->
    <div class="list">
        <div class="item item-icon-right item-text-wrap" ng-repeat="comment in post.comments">
<!--        <div class="item item-icon-right item-text-wrap" ng-repeat="comment in post.comments">-->
            <h2>{{comment.user.username}}</h2>
            <p>{{comment.content}}</p>
            <p>{{comment.time}}</p>
            <a class="tab-item" ng-click="showActions(comment.id)">
                <i class="icon ion-ios7-more"></i>
            </a>
        </div>
    </div>
    <form class="list" ng-action="addComment()">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="comment.content" placeholder="Message">
        </label>
        <button class="button button-small" ng-click="addComment()">
          Submit
        </button>
      </div>
    </form>
</ion-content>
</ion-view>