<ion-view title="{{task.name}}">
<ion-content>
    <ion-nav-buttons side='right' ng-controller="taskController">
        <button class="button button-dark" ng-show="task.finished == 1 && (task.isManager || isAdm || isMod)" ng-click="markUnFinished(task.id); task.finished = 0;">
            <i class="icon ion-ios7-checkmark"></i>
        </button>
        <button class="button button-dark" ng-show="task.finished == 0 && (task.isManager || isAdm || isMod)" ng-click="markFinished(task.id); task.finished = 1;">
            <i class="icon ion-ios7-checkmark-outline"></i>
        </button>
    </ion-nav-buttons>
    <div class="list">
        <div class="item" ng-show="task.description"> <b>Description: </b> {{task.description}} <span class="item-note">{{badgeConfig[task.badge_id]}}</span></div>
        <div class="item" ng-hide="task.description"> <b>Description: </b> No Description Available <span class="item-note">{{badgeConfig[task.badge_id]}}</span></div>
        <div class="item" ng-show="task.time"> <b>Time: </b> {{task.time}} </div>
        <div class="item" ng-hide="task.time"> <b>Time: </b> No time specified. </div>
        <div class="item" ng-show="task.location"> <b>Location: </b>{{task.location}} </div>
        <div class="item" ng-hide="task.location"> <b>Location: </b> N/A </div>
    </div>
    <googlemaps ng-show="task.location" class="google-maps" options="map"></googlemaps>
</ion-content>
</ion-view>
