/* app css stylesheet */
* { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
input, textarea { -webkit-user-select:text; }
body { background-color:white; color:black }

body {
    overflow-x: hidden;
}
/*

.phones {
    list-style: none;
}
.thumb {
    float: left;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    height: 100px;
    width: 100px;
}
.phones li {
    clear: both;
    height: 115px;
    padding-top: 15px;
}
.clock{
    position: absolute;
    top:1000px; 
    left:0px;
}
*/

/*****meun bar at the top**********/
#background{
    background:url(../img/background_grid3.png) fixed;
background-repeat: no-repeat;    
}

#wrapper{
    position:relative;
    top: 60px;
    width: 100%;
    padding: 2%; 
    margin-bottom: 30px;
    z-index:0;
}

#menuBar{
    position:fixed;
    width:100%;
    z-index:1;
    background:#f96806;
}

.menuBar{
    position:relative;
    height:65px;
    width:20%; 
    padding:10px 0px 10px 0px;
    margin-left:3.3%;
    display: inline-block;
    text-align: center;
}

.menuBar_active{
    position:relative;
    height:65px;
    width:20%; 
    padding:10px 0px 10px 0px;
    background-color: rgba(247, 129, 49, 0.65);
    margin-left:3.3%;
    display: inline-block;
    text-align: center;
}

/********bottom menu************/
#b_menu{
    position:fixed;
/*  top:90%; */
    bottom: 0px;
    padding:0px;
    width:100%;
    height: 40px;
    z-index: 2;
    background: #ffffff;
    opacity: .9;
}

.b_menu{
    position:relative;
    top: 10%;
    width:10%;
    padding:0px 0px 0px 0px;
    margin-right:7%;
    margin-left:7%;
    display: inline-block;
    text-align: center;
}

/*********loging page**********/

#logo_O{position:fixed;
    width: 100%;
    margin: 0px 0px 0px 0px;
}


.log{
    position:relative;
    border-radius:5px;
    height:50px; 
    width:70%;
    top:350px;
    margin: 0% 15% 0% 15%;
    text-align: center;
    background-color:#0BA1F4;
    z-index: 1;
    opacity: .8;
}


#register{
    position: relative;
    margin-top: 5%;
    margin-left: 50%;
    top: 350px;
}

/**** Community Feed****/


#avatar-container{
    position:relative;
    width: 100%;
    padding-top: 80px;
    margin-bottom: -25px;
    z-index: 6;
}

#avatar-img{
    position: absolute;
    bottom: 62px;
    width: 90px;
    z-index: 5;
    
}

    
#post{
    position:relative;
    width:100%;    
    bottom:80px;
    height:0%;
    padding-bottom: auto;
    padding: 0% 2% 0% 2%;
}


.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
/*  z-index: 10;*/
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}


.carousel{
  position:relative;
    width: 100%;
    height: 100%;
/*  z-index: 10;*/
  bottom:80px;     
}

#author{
    position:relative;    
    height:100%;
    width: 100%;    
    margin: 15% 0% 10% 0%;    
    text-align: center;
    font-family: roboto black;
    font-size:12pt ;
    background-color: #e0e0e0;
    z-index:4;    
}



#contentbox{
    position:absolute; 
    background-color:#EEEEEE;
    top:20px;
    width: 96%;
    height: 100%;
    margin: auto;
    z-index: -1;
    padding-left:auto;
    border-radius: 0px 0px 0px 0px;
    overflow: auto;
    font-family: roboto medium;
    font-size: 12pt;
}


#likeicon{
    position:relative;
    background:#f96806;
    top:20px;
    width: 100%;
    margin: auto;
/*  bottom:100px;*/
    color: white;
/*  width:100%;*/
/*  border-radius:0px 0px 0px 0px;*/
    text-align:left;
      -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 0px 6px -6px black;
	        box-shadow: 0 5px 10px -7px black;   
    
}


.slide_image{
    width: 100%;
}
/***group message******/

#messageicon{
    position: relative;
    height: 80px;
}

#gmessageicon{
    position: relative;    
}

#group_content{
    position:relative;
    width: 50%;
    padding:auto;
    bottom:40px;
    margin-left:30%;
}


#message{
    position:relative;    
    width: 100%;
    margin:10% 5% 10% 0%;
    background-color:#ffffff;
    padding: 10% 0% 0% 10%;  
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 0px 6px -6px black;
    box-shadow: 0 5px 10px -7px black;
    
}

#groupmsg{
    position: relative;
    text-align: center;
    bottom: 40px;
    font-family:roboto black;
    font-size: 12pt;
    text-decoration: underline;
    
}

/***groupfeed****/


#groupfeed{
    position: relative;    
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    height:60px;    
}

#groupname{
    position:relative;
    bottom:90px;              
    font-family:sans-serif;
    font-size:12pt;
    padding-left:70px;    
    z-index: 3;    
}


#groupcon{
    position:relative;
    height: 100px;    
    padding:0px 0px 0px 10px;
    margin:0px 2px 0px 2px;    
    background-color:#ffffff;
    border-radius: 0px 0px 0px 0px;    
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 0px 6px -6px black;
    box-shadow: 0 5px 10px -7px black;
}


#scrollable_g{
    position:relative;
    padding: 10% 0% 10% 0%;
    top: 20px;
    width: 100%;    
}

#groupPost{}

/****group feed post****/
#groupPost{
    position: relative;
    background:#9CD4E5;    
    margin:10px 10px 10px 10px;
    top: 10px;
}

#snap{
/*    position: absolute;    */
}

#snap_drawer{
    background-color: #eeeeee;
    top: 65px;
    padding-bottom: 30px;
    background:url(../img/01.jpg) fixed;
}
#snap_page{
    background-color: #eeeeee;
    top: 65px;
    padding-bottom: 30px;
    background-image:url(..);
}

#groupfeed_post{
    width: 33%;    
}

#groupfeed_tasks{
    width: 34%;
}

#groupfeed_users{
    width: 33%;
}

/**** Efforts******/


#Egroups{
    position: relative;
}


#invite{
    position: relative;
}

