



.avatar{position:relative;
     top:80px; 
    left:0;}


.place{position: absolute;
    top:0%; 
    z-index:-1;
    width: :100%; 
}


.b_menu{position: relative;
    top:666px;
    width: 100%;
    padding:30px;
    margin: 10px 10px 10px 10px;
}
