/*** --- Desktops and Laptops --- ***/
@media only screen and (min-width : 768px) {
    #disappear_on_desktop {
        display: none;
    }

    #background {
        /*margin-left: 100px;*/
        /*margin-right: 100px;*/
        /*width: 800px;*/
        /* THE FOLLOWING KIND OF WORK */
        /*margin-top: 100px;*/
        /*position: fixed;*/
        /*background: url("../img/dashlogo.svg");*/
    }
    #vma_login_padding {
        padding-top: 2%;
        padding-right: 25%;
        padding-left: 25%;
    }
}
