
.platform-c:not(.enable-transitions) * {
    -webkit-transition: none !important;
    transition: none !important;
}

.content-stable {
    background: #f8f8f8;
}

.messaging-view .scroll {
    min-height: 100%;
    padding: 10px 0 50px -50px;
}

.messaging-view .message {
    padding: 0 10px 10px;
}

.messaging-view .message .photo {
    height: 44px;
    width: 44px;
    background-color: #d6d6d6;
    background-size: cover;
    float: left;
    font-size: 50px;
    text-align: center;
    border-radius: 50%;
    margin-top: 10px; /*I ADDED THIS TO MAKE EVERYTHING SEEM MOER IN LINE*/
    overflow: hidden;
}

.messaging-view .message .message {
    overflow: hidden;
    padding: 5px 5px 0;
    text-align: left;
}

.messaging-view .message .message span {
    background: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    text-align: left;
}

.messaging-view .message.other .photo {
    float: right;
}

.messaging-view .message.other .message {
    text-align: right;
}

.messaging-view .message-input {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #fff;
    z-index: 20;
}

.messaging-view .message-input input {
    width: 100%;
    height: 100%;
    background: none;
    padding: 0 15px;
}
