.my-item {
  left: 0;
  right: 0;
}

/*********loging page**********/
#logo_O{
    position:fixed;
    width:70%;
    top:80px;
    left:15%;
    margin: 0px 0px 0px 0px;
    z-index: 1;
}

.log{
    position:relative;
    border-radius:5px;
    height:50px;
    width:70%;
    top:390px;
    margin: 0% 15% 0% 15%;
    text-align: center;
    background-color:#0BA1F4;
    z-index: 2;
    opacity: .8;
}

.log_r{
    position:relative;
    border-radius:5px;
    height:50px;
    width:80%;
    top:50px;
    margin: 05% 10% 05% 10%;
    margin: 5% 10% 5% 10%;
    text-align: center;
    background-color:#0BA1F4;
    z-index: 1;
    opacity: .8;
}

#register{
    position: relative;
    margin-top: 5%;
    margin-left: 50%;
    top: 370px;
    z-index: 3;
}


.google-maps {
    width: 100%;
    height: 400px;
    z-index: 10000;
}

/****************comments*******************************/
#vma_date{
    position: relative;
    color: lightgray;
    font-size:8pt;
    top: 20px;
    }
#vma_content{
    position: relative;
    bottom: 30px;
}

/***************group.MSG*******************************/
#vma_groupMSG{
    position: relative;
    font-size: 7pt;
    color: lightblue;
    bottom:10px;
}

#vma_groupMSGuser{
    color:gray;
}

#vma_groupMSGcontent{
    color: black;
}

/***********CommunityFeed*******************************/
#vma_post_time{
    font-size: 6pt;
    color: lightgray;
}

#calendar{
    background-color: white;
    overflow: hidden;
}
